.widget{
    /* margin-top: 30px; */
    /* margin-right: 10px; */
    /* height: 100vh; */
    position: fixed;
    /* top: 0; */
    /* display: none; */
}
.menu-lateral{

    height: 100vh;
    position: fixed;
    
    /* display: none; */
    /* top: 20px; */
}