/* .widget {
    position: fixed;
} */

.menu-lateral {
    z-index: 1;
    height: 100vh;
    /* position: fixed; */
    width: 16rem;
    
}
.menu-lateral menu {
  
    border: 1px solid #ccc;
    height: 100vh;
    /* position: fixed; */
    /* width: 100%; */
} 


@media (max-width:991px) {
    .menu-lateral {
        height: 9rem;
        width: 99%;
    }

    .widget {
        display: none;
    }
}
@media (max-width:600px) {
    .menu-lateral {
        height: 9rem;
        width: 100%; 
    }

    .widget {
        display: none;
    }
    .menu-lateral ul {
        border: 0.1px solid #ccc;
        border-radius: 4px;
    }
}
