.widget {
    position: fixed;
}

.menu-lateral {
    height: 100vh;
    position: fixed;
    /* width: 290px */
}
.menu-lateral menu {
    height: 100vh;
    /* position: fixed; */
    width: 100%;
} 
@media (max-width:600px) {
    .menu-lateral {
        height: 100vh;
        /* position: fixed; */
        width: 97%;
    }

    .widget {
        display: none;
    }
}
@media (max-width:900px) {
    .menu-lateral {
        height: 100vh;
        /* position: fixed; */
        width: 99%;
    }

    .widget {
        display: none;
    }
}